#menu-section {
    display: none;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    background: #B7E9FA;
    padding: 20px;
    border-radius: 20px 0 0 20px;
    overflow-y: hidden;
}


.menu {
    display: flex;
    flex-direction: column;
}

.menu-head {
    display: flex;
    align-items: flex-end;
    gap: 90px;
}

.menu-head-part {
    display: flex;
    gap: 120px;
}

.menu-closing-part {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 40px;
}

.log-in-button {
    background: #1C9DC9;
    color: white;
    padding: 8px 15px;
    border-radius: 8px;
    box-shadow: 0px 2px 0px 0px #000;
    border: 0;
    gap: 10px;
    font-size: 16px;
    font-weight: 700;

}

.menu-main-section {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    position: relative;
    max-width: 310px;
    gap: 40px;
}

.search {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid #1C9DC9;
    border-radius: 8px;
    background: #D0F3FF;
}

.search-icon {
    position: absolute;
    top: 23px;
    right: 0;
    width: 12%;
    height: 5%;
    background-image: url('../img/search-icon.svg');
    background-repeat: no-repeat;

    background-position: center;
}

.search::placeholder {
    color: #1C9DC9
}

.menu-features {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-bottom: 15px;
}


.menu-progress-bar {
    display: flex;
    gap: 8px;
    align-items: center;
}

.menu-main-section img {
    width: 160px;
    height: 10px;
}

.menu-progress-bar-persentage {
    color: #1C9DC9;
    font-size: 12px;
    font-weight: 700;
}

.menu-slash-hundred {
    color: #02455C;
}


.log-in-to-view {
    color: #1C9DC9;
    font-size: 12px;
    font-weight: 700;

}

.menu-features-links {
    color: #1C9DC9;
    font-size: 32px;
    font-weight: 700;
}

.links-about-us {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-links {
    color: #1C9DC9;
    font-size: 24px;
    font-weight: 700;
}

.social-media {
    display: flex;

    align-items: center;
    gap: 16px;

}

.social-media img {
    width: 32px;
    height: 32px;
}

.menu-follow-us {
    display: flex;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}

.social-media-icons {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}